{% extends "base.html" %}
{% block title %}Kapitel 4{% endblock %}

{% block content %}
<h2 align="center">Kapitel 4 - JSON ausgeben</h2>
<br>
<p align="center">Dieses Kapitel wird sich mit der Ausgabe von JSON Objekten befassen. Die Hauptfrage ist: <br>
<b>"Wie können Inhalte relationaler Datenbanken als JSON-Objekte ausgegeben werden?"</b></p>
<br><br>

<div class="row">
    <div class="column">
        <button class="btn btn-primary" onclick="window.location.href='/chapters'">$$TODO Kapitel 3.X</button>
    </div>
    <div class="column">
        <button class="btn btn-primary" style="float: right" onclick="window.location.href='/error'">$$TODO Kapitel 4.1</button>
    </div>
</div>






{% endblock %}
