{% extends "base.html" %}
{% block title %}Kapitel 2{% endblock %}

{% block content %}

<h2 align="center">Kapitel 2 - JSON ablegen</h2>
<br>
<p align="center">Dieses Kapitel wird sich mit der Ablageform von JSON Objekten befassen. Die Hauptfrage ist: <br>
<b>"In welcher Form (Struktur) können die JSON-Objekte in die relationale Datenbank
eingefügt werden? (als komplettes JSON-Objekt bzw. zerlegt als relationale Datensätze)"</b></p>
<br><br>
<p>Da diese Frage eng mit der Erstellung der SQL Tabellen eng zusammenhängt, wird diese Frage inhaltlich in Kapitel 1
 beantwortet, auch wenn sie gemäß der Aufgabenstellung eine getrennte Frage ist. Für die Antwort dieser Frage betrachten sie bitte
  <a href="/chapter_1_5">Kapitel 1.5</a>.</p>

<div class="row">
    <div class="column">
        <button class="btn btn-primary" onclick="window.location.href='/chapter_1_5'">Kapitel 1.5</button>
    </div>
    <div class="column">
        <button class="btn btn-primary" style="float: right" onclick="window.location.href='/chapter_3'">Kapitel 3</button>
    </div>
</div>





{% endblock %}
