{% extends "base.html" %}
{% block title %}Kapitel 1.4{% endblock %}

{% block content %}
<h2 align="center"> Kapitel 1.4: JSON Daten generieren</h2>
<br>
<div class="row">
    <div class="column">
        <p>Um die Datenbank mit JSON Daten zu befüllen, müssen JSON Daten beschafft werden. Dies könnte man mit existierenden
        JSON Datensätzen machen, wie z.B. in <a href="https://github.com/jdorfman/awesome-json-datasets" target="_blank" rel="noopener noreferrer">diesem GitHub</a>
            zu finden sind. Allerdings sind diese Datensätze sehr groß und am Anfang nicht lehrfreundlich, daher werden
        in dieser Lehrlektion sämtliche JSON Datensätze mithilfe von Python Code und dem Faker Modul generiert.</p>

        <button class="btn btn-primary source_code_button" onclick="window.location.href='/chapter_1_4_sourcecode'">JSON Generator Sourcecode</button> <br> <br>
        <p> Die JSON Datenstruktur sowie erlaubte Typen lassen sich unter
            <a href="https://www.json.org/json-en.html" target="_blank" rel="noopener noreferrer">JSON.org</a> finden.
        Hier finden sie Generator, die die meisten Kombinationen an JSON Datentypen und Strukturen generieren kann.</p>
        <br><br>
        <style>
            td{
                text-align: center;
                padding: 5px;
            }
        </style>
        <table class="table_border_and_padding">
            <form method="POST">
                <tr>
                    <td>
                        <button name="gen_json" value="json_basic" class="btn btn-primary " >Einfache JSON</button>
                    </td>
                    <td>
                        <button name="gen_json" value="json_with_dict" class="btn btn-primary " >JSON mit Object</button>
                    </td>
                    <td>
                        <button name="gen_json" value="json_with_list" class="btn btn-primary " >JSON mit Array</button>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        <button name="gen_json" value="json_with_layers" class="btn btn-primary " >JSON mit 4 Ebenen</button>
                    </td>
                    <td>

                    </td>
                </tr>
            </form>

        </table>

    </div>
    <div class="column" style="background-color:#bbb; border-radius: 15px">
        <h4 class="column_margin">{{current_content_title}}</h4>
        <pre class="column_margin">{{current_JSON}}</pre>
    </div>
</div>
<br>
<div class="row">
    <div class="column">
        <button class="btn btn-primary" onclick="window.location.href='/chapter_1_3'">Kapitel 1.3</button>
    </div>
    <div class="column">
        <button class="btn btn-primary" style="float: right" onclick="window.location.href='/chapter_1_5'">Kapitel 1.5</button>
    </div>
</div>



{% endblock %}
