{% extends "base.html" %}
{% block title %}Kapitel 3{% endblock %}

{% block content %}


<h2 align="center">Kapitel 3 - JSON verarbeiten</h2>
<br>
<p align="center">Dieses Kapitel wird sich mit dem Verarbeiten von JSON Objekten befassen. Die Hauptfrage ist: <br>
    <b>Wie werden die (kompletten) JSON-Objekte in
     der relationalen Datenbank geändert, gelöscht und abgefragt?"</b></p>
<br><br>

<div class="row">
    <div class="column">
        <button class="btn btn-primary" onclick="window.location.href='/chapters'">$$TODO Kapitel 2.X</button>
    </div>
    <div class="column">
        <button class="btn btn-primary" style="float: right" onclick="window.location.href='/error'">$$TODO Kapitel 3.1</button>
    </div>
</div>




{% endblock %}
