{% extends "base.html" %}
{% block title %}Kapitel 1{% endblock %}

{% block content %}

<h2 align="center">Kapitel 1 - Datenbank anlegen</h2>
<br>
<p align="center">Dieses Kapitel wird sich mit dem Anlegen von einer Datenbank mit JSON Objekten befassen,
    sowie der Ablageform der JSON Objekten. Die Hauptfragen sind: <br>
<b>"Wie werden Tabellen zur Verwaltung von JSON-Objekten angelegt/definiert?"<br> <br>
    "In welcher Form (Struktur) können die JSON-Objekte in die relationale Datenbank
    eingefügt werden? (als komplettes JSON-Objekt bzw. zerlegt als relationale Datensätze)"</b></p>
<br><br>

<div class="row">
    <div class="column">
        <button class="btn btn-primary" onclick="window.location.href='/chapters'">Kapitelübersicht</button>
    </div>
    <div class="column">
        <button class="btn btn-primary" style="float: right" onclick="window.location.href='/chapter_1_1'">Kapitel 1.1</button>
    </div>
</div>


{% endblock %}
