{% extends "base.html" %}
{% block title %}Kapitel 2{% endblock %}

{% block content %}

<h2 align="center">Kapitel 2 - JSON ablegen</h2>
<br>
<p align="center">Dieses Kapitel wird sich mit der Ablageform von JSON Objekten befassen. Die Hauptfrage ist: <br>
<b>"In welcher Form (Struktur) können die JSON-Objekte in die relationale Datenbank
eingefügt werden? (als komplettes JSON-Objekt bzw. zerlegt als relationale Datensätze)"</b></p>
<br><br>

<div class="row">
    <div class="column">
        <button class="btn btn-primary" onclick="window.location.href='/error'">$$TODO Kapitel 1.X</button>
    </div>
    <div class="column">
        <button class="btn btn-primary" style="float: right" onclick="window.location.href='/error'">$$TODO Kapitel 2.1</button>
    </div>
</div>





{% endblock %}
