{% extends "base.html" %}
{% block title %}Chapter 1.1{% endblock %}

{% block content %}


<h2 align="center">Kapitel 1.1: Warum und wie JSON verarbeiten?</h2>
<br>
<div class="row">
    <div class="column">
        <p>
            $$TODO INSERT TEXT ON JSON AS JSON IN SQL VS SPLIT UP IN TEXT
        </p>

    </div>
</div>

<br>
<div class="row">
    <div class="column">
        <button class="btn btn-primary" onclick="window.location.href='/chapter_1'">Kapitel 1</button>
    </div>
    <div class="column">
        <button class="btn btn-primary" style="float: right" onclick="window.location.href='/chapter_1_2'">Kapitel 1.2 $$TODO</button>
    </div>
</div>


{% endblock %}
